body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(92, 92, 92);
  font-size: 34px;
  font-weight: 100;
  text-align: right;
  line-height: 28px;
  margin-bottom: 4px;
}

li {
  list-style: none;
  color: rgb(92, 92, 92);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: right;
}

p {
  color: rgb(92, 92, 92);
  text-align: left;
  font-size: 16px;
}

.weather-wrapper {
  max-width: 600px;
  margin: 100px auto;
}

.weather-card {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
  background-image: url("https://images.unsplash.com/photo-1612404748636-568ca4155994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-top: -2px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  color: rgb(33, 33, 33);
  top: 3px;
}

.weather-temperature a {
  text-decoration: none;
}

.humidity,
.wind {
  margin-top: -20px;
}
